<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, guy !</h1>
            <p>Bienvenu sur le site My Fucking Eventbrite !</p>
        </div>
    </div>

    <div class="container">
    <% @events.each do |event| %>
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
            
                <h2><%= event.title %></h2>
                <p><%= event.duration %></p>
                <p><%= event.location %></p>
                <p><a class="btn btn-secondary" href="#" role="button"><%= link_to "Show", event %>View details &raquo;</a></p>
            </div>
        </div>
    <p id="notice"><%= notice %></p>
                <p><%= link_to "Edit", edit_event_path(event) %></p>
                <p><%= link_to "Destroy", event, method: :delete, data: { confirm: "Are you sure?" } %></p>
        <% end %>
<br>

<div class="container">
    <div class="row">
    <% @events.each do |event| %> 
    <div class="col-sm-6 card-deck">
    <div class="card mb-3" style="width: 20rem; text-align: center">
        <div class="card-body">
        <h5 class="card-title"><%= event.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted">Admin :<%= User.find_by(id:event.user_id).first_name %></h6>
                <p class="card-text"><%= event.description %></p>
                <p class="card-text">Start Date : <%= event.start_date %></p>            
                <a href="<%= event_path(event.id) %>" class="card-link btn btn-dark">Show</a>
        </div>
    </div>
    </div>
    <% end %>   
    </div>
</div>
logged in as <%=current_user.email%>
<div class="left_a" style="margin-right:10px;"><a href="<%= new_event_path%>" class ="btn btn-light">Créer un Event</a></div>
<%= link_to "New Event", new_event_path %>