<div class="container my-5">
    <%# ALERTE %>
    <% flash.each do |type, msg| %>
        <div class="alert alert-danger" role="alert">
            <%= msg %>
        </div>
    <% end %>
</div>

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, guy !</h1>
            <p>Bienvenue sur le site My Fucking Eventbrite !</p>
        </div>
    </div>


<h1>Liste des événements</h1>
    <ul class="row">
        <% @events.all.each do |e| %>
            <li>
                <h5 class="card-title">
                    <%= event.title %>
                </h5>
                <p class="card-text text-truncate">
                    <%= event.description %>
                </p>
                <div class="card-text">
                    <span class="text-muted">Date: </span>
                        <%= event.start_date.to_date.strftime("%d/%m/%Y") %>
                </div>
                        <div class="card-text">
                            <span class="text-muted">Durée : </span>
                            <%= event.duration %>
                        </div>
                        <div class="card-text">
                            <span class="text-muted">Prix : </span>
                            <%= event.price %>
                        </div>
                        <div class="card-text">
                            <span class="text-muted">Lieu : </span>
                            <%= event.location %>
                        </div>
                        <div class="card-text">
                            <span class="text-muted">Organisateur : </span>
                            <%= User.find(event.organizer_id).first_name %> 
                            <%= User.find(event.organizer_id).last_name %>
                        </div>
                        <p class="mt-3">
                            <%= link_to "Détails", event_path(event.id), class: "btn btn-outline-primary btn-sm" %>
                        </p>
                    </div>
                </div>
            </li>
        <% end %>
    </ul>
</div>